BASE_URL=https://your-erpnext-url
TEST_USERNAME=sample_username
TEST_PASSWORD=sample_password
API_BASE_URL=https://api-url.com
API_TOKEN=dummy-token

DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=